---
import Page from "@layouts/Page.astro";
import { getCollection } from "astro:content";

const blogEntries = await getCollection("blog");
---

<Page title="FORZGC">
  <h1>Blog</h1>
  <ul>
    {
      blogEntries.map((blogEntry) => (
        <li>
          <div>{blogEntry.data.title}</div>
          <div>{blogEntry.data.tags.join("、")}</div>
          <div>{blogEntry.data.image}</div>
        </li>
      ))
    }
  </ul>
</Page>

<style></style>
