---
import Page from "@layouts/Page.astro";
import { getCollection } from "astro:content";

const blogEntries = await getCollection("blog");
blogEntries.sort((a,b) => b.data.date.getTime() - a.data.date.getTime());
---

<Page title="FORZGC">
  <ul class="py-4 grid grid-cols-4 gap-4">
    {
      blogEntries.map((blogEntry) => (
        <li>
          <a
            class="block bg-white rounded-lg"
            href={"/posts/" + blogEntry.slug}
          >
            <img
              class="w-full h-32 object-cover rounded-t-lg"
              src={"/images/poster/" + blogEntry.data.poster}
              alt={blogEntry.data.poster}
            />
            <div class="p-2">
              <div class="text-xl text-sky-600">{blogEntry.data.title}</div>
              <div class="text-sm text-emerald-600">
                {blogEntry.data.tags.join("、")}
              </div>
              <div class="text-sm text-right text-gray-800">
                {blogEntry.data.date.getFullYear() +
                  "/" +
                  (blogEntry.data.date.getMonth() + 1) +
                  "/" +
                  blogEntry.data.date.getDate()}
              </div>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</Page>

<style></style>
